.flex-layout {
  margin: 0 rem(-8);
  display: flex;
  flex-wrap: wrap;

  > * {
    padding: 0 rem(8);
    width: 100%;
    flex-shrink: 0;
    max-width: 100%;
  }
}

.col-70 {
  flex: 0 0 70%;
}

@media screen and (min-width: $screen-sm) {
}

@media screen and (min-width: $screen-md) {
  .col-md-60 {
    flex: 0 0 60%;
  }

  .col-md-70 {
    flex: 0 0 70%;
  }

  .col-md-50 {
    flex: 0 0 50%;
  }

  .col-md-40 {
    flex: 0 0 40%;
  }
}

@media screen and (min-width: $screen-lg) {
}

@media screen and (min-width: $screen-xl) {
  .col-xl-50 {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: $screen-xxl) {
}
